/* basic styles */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: -100px;
  animation: slide 2s forwards;
  padding: 0 2rem;

  @keyframes slide {
    100% { top: 0; }
  }


  a.logo {
    display: inline-block;
    font-family: "Sen", sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
  }

  ul {
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 0 1rem;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      a {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 3rem;

        span {
          display: inline-block;
        }

        span.text {
          text-decoration: underline;
        }
      }

      a:hover {
        
        span.icon {
          animation: rotationAndFontSize 2s forwards;
        }

        span.text {
          animation: fontSize 2s forwards;
        }

        @keyframes rotationAndFontSize {
          50% {
            font-size: 2rem;
            transform: rotate(-72.5deg);
          }
          to {
            font-size: 2rem;
          }
        }

        @keyframes fontSize {
          50% {
            font-size: 2rem;
          }
          to {
            font-size: 2rem;
          }
        }
      }
    }
  }
}